<%- include ("partials/header.ejs"); %>

<! --- Core Dashboard --->

<div class="jumbotron p-3 p-md-5 rounded bg-dark text-white shadow-sm">
    <div class="row">
        <div class="col-md-6 px-0 text-center" style="margin: auto;">
            <h1 class="display-3"><%= userData.username %></h1>
            <p class="lead my-3"><%= userData.tags %><br><%= userData.address %></p>
        </div>

        <! My Friends ->
        <div class="col-md-6 px-0" style="margin: auto;">
            <table class="table table-borderless table-hover table-dark">
                <tbody>
                <tr>
                    <th scope="row">Michael</th>
                    <td>Advanced</td>
                    <td>Basketball</td>
                    <td><a href="#" class="badge badge-primary badge-pill text-primary">_</a></td>
                </tr>

                <tr>
                    <th scope="row">Shrish</th>
                    <td>Beginner</td>
                    <td>Basketball, Soccer</td>
                    <td><a href="#" class="badge badge-primary badge-pill text-primary">_</a></td>
                </tr>

                <tr>
                    <th scope="row">Yousef</th>
                    <td>Intermediate</td>
                    <td>Soccer</td>
                    <td><a href="#" class="badge badge-primary badge-pill text-primary">_</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row mb-2">
    <! Find Users ->
    <div class="col-md-6 d-flex">
        <div class="flex-fill row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <font color="#343a40"><h3 class="mb-2">Find Users</h3></font>
                <table class="table table-hover" style="margin-bottom: 0px;">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Skill</th>
                        <th scope="col">Sports</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>

                    <tbody>
                    <% users.forEach(obj => {%> 
                    <tr>
                        <td><%= obj.user.username %></td>
                        <td><%= obj.user.skill %></td>
                        <td><%= obj.user.tags %></td>
                        <td><a href="#" class="badge badge-success badge-pill text-success">_</a></td>
                    </tr>
                    <% }) %>
                    </tbody>
                    
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-6 ">
        <! Edit Profile ->
        <div class="col-md-12">
            <div class="flex-fill row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <font color="#343a40"><h3 class="mb-2">Edit Profile</h3></font>
                    <p class="lead">Update your email, skill level, favourite sports, or location.</p>
                    <div><a class="btn btn-outline-success" href="#editModal" data-toggle="modal" data-target="#editModal">Edit</a></div>
                </div>
            </div>
        </div>

        <! Logout ->
        <div class="col-md-12">
            <div class="flex-fill row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <font color="#343a40"><h3 class="mb-2">Logout</h3></font>
                    <p class="lead">Log out of MeetSport, note that your chats will be deleted.</p>
                    <form action="/logout" method="POST">
                        <button type="submit" class="btn btn-outline-danger">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Edit Profile modal -->
<div class="modal fade editModal" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/editProfile" method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Username</label>
                        <input readonly required type="text" class="form-control" name="username" value=<%= userData.username %>>
                    </div>

                    <div class="form-group">
                        <label>Password</label>
                        <input readonly required type="password" class="form-control" name="password" value =<%= userData.password %>>
                    </div>

                    <div class="form-group">
                        <label>Email address</label>
                        <input required type="email" class="form-control" name="email" value = <%= userData.email %>>
                    </div>

                    <div class="form-group">
                        <label>Skill</label>
                        <select required class="form-control" name="skill" value = <%= userData.skill %></select>>
                            <option>Beginner</option>
                            <option>Intermediate</option>
                            <option>Advanced</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Sports</label>
                        <select required multiple class="form-control" name="tags" value = <%= userData.tags %></select>>
                            <option>Soccer</option>
                            <option>Basketball</option>
                            <option>Hockey</option>
                            <option>Badminton</option>
                            <option>Tennis</option>
                        </select>
                        <small class="form-text text-muted">Hold CTRL to select multiple.</small>
                    </div>
                    <div class="form-group">
                        <label> Address </label>
                        <input required type="text" class="form-control" name="address" value = <%= userData.address %>>
                    </div>
    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include ("partials/footer.ejs"); %>